.filtre__bouton{
    display: flex;
    gap: 20px;
}

.filtre__bouton button{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 0.5em;
    text-transform: uppercase;
    transition-duration: 350ms;
    border: none;


    &:hover{
        background-color: aquamarine;
        color: #000;
    }
}

.principal-conteneur-colonne{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
button[data-id='12']{
    display: none;
}